body {
    background-color: antiquewhite;
    color: #424242;
    font-family: Helvetica, Arial, sans-serif;
  }

  table {
    /* display: grid;
    place-items: center; */
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }

  td {
    text-align: left;
    padding: 8px;
    box-sizing: border-box;
  }

  ul {
    text-align: center; 
    list-style-type: none;
     }

  .main_title {
    font-size: 300%;
    text-align: center;
    padding: 5px;
    max-width: 1000px;
    color: #424242;
    margin-left: auto;
    margin-right: auto;
  }

  .main_photo {
    display: grid;
    place-items: center;
  }

  .header2 {
    font-size: 250%;
    color: rgb(156, 124, 81);
    text-align: center;
  }

  .divtext {
    background-color: rgb(156, 124, 81);
    color: white;
    font-size: 130%;
    max-width: 1000px;
    height: auto;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-radius: 5px;
  }

  .table-image {
    /* width: auto;
    height: auto; */
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .info-container {
    position: relative;
    display: inline-block;
    padding: auto;
  }
  
  .img-with-text {
    position: relative;
  }

  .image-header {
    position: absolute;
    text-align: center;
    bottom: 3px;
    left: 0px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    background-color: rgba(204, 160, 103, 0.76);
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
  }

  .image-description {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(80, 80, 80);
    font-size: 16px;
    text-align: center;
    transition: opacity 0.5s ease;
    padding: 8px;
    box-sizing: border-box;
    overflow: auto;
    line-height: 1.5;
    font-family: Arial, sans-serif;
  }

  .info-container:hover .table-image {
    opacity: 0.2;
  }
  
  .info-container:hover .image-description {
    display: block;
  }
  
  .table-map {
    width: 300px;
    height: 300px;
    border: none;
  }

  .liclass {
    text-decoration: none;
    color: white;
    font-style: italic;
    }  

  .video_box{
    display: grid;
    place-items: center;
}

.phrase-container {
  margin-top: 20px;
}

.phrase-table {
  border-collapse: collapse;
  width: 100%;
}

.phrase-table th, 
.phrase-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.phrase-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
